@*<h1>Yorumlar</h1>*@
@*@model IEnumerable<EntityLayer.Concrete.Comment>

    @foreach (var item in Model)
    {
        <p>@item.CommentUserName</p>
    }*@

@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/kurstema/images/t1.jpg" alt="" class="img-fluid" />

            <div class="media-body">
                <h5 class="mt-0">@item.CommentUserName</h5>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>
    }
    </div>






